<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="graficas.css">
        <script src="graficas.js"></script>
    </head>
    <body>
        <header  class="header" id="myHeader">
            <img src="img/LogoUDEPazul.png" alt="logo">
            <a href="" >Iniciar Sesión</a>
        </header>

        <div id="img_principal">
            <img src="img/fondo 1.jpg" alt="edificio de gobierno">
        </div>

        <div class="rectangulo">
            <p><a href="#">GRÁFICAS</a></p>
            <p><a href="#">HISTORIAL</a></p>
            <p><a href="#">MAPA</a></p>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#temp">Temperatura</a></li>
                <li><a href="#hum">Humedad</a></li>
                <li><a href="#lluvia">Lluvia</a></li>
                <li><a href="#uv">UV</a></li>
                <li><a href="#viento">Viento</a></li>
            </ul>
        </div>

        <div class="tablas">
            <div id="temp">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="img/1.jpg" alt="ej1">
            </div>
            <div id="hum">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="img/2.jpg">
            </div>
            <div id="lluvia">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="img/3.jpg" alt="ej1">
            </div>
            <div id="uv">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="img/1.jpg" alt="ej1">
            </div>
            <div id="viento">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="img/2.jpg" alt="ej1">
            </div>      
        </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script>
            window.onscroll = function() {myFunction()};
            
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            
            function myFunction() {
              if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
              } else {
                header.classList.remove("sticky");
              }
            }

            const reqDataApi =async ()=>{
              const res = await fetch('http://127.0.0.1:8000/api_data',{
                method :'GET'
              })
              const dataApi = await res.json()
              
              if (dataApi) {
                let times = dataApi.data['times']
                let dataWindDirection_si = dataApi.data['Wind Direction']['si']
                let dataWindDirection_us = dataApi.data['Wind Direction']['us']
                let dataWindSpeed_si = dataApi.data['Wind Speed']['si']
                let dataWindSpeed_us = dataApi.data['Wind Speed']['us']

                let dataGustSpeed_si = dataApi.data['Gust Speed']['si']
                let dataGustSpeed_us = dataApi.data['Gust Speed']['us']

                let dataTemperature_si = dataApi.data['Temperature']['si']
                let dataTemperature_us = dataApi.data['Temperature']['us']

                let dataRH_si = dataApi.data['RH']['si']
                let dataRH_us = dataApi.data['RH']['us']

                let dataDewPoint_si = dataApi.data['Dew Point']['si']
                let dataDewPoint_us = dataApi.data['Dew Point']['us']

                let dataSolarRad = dataApi.data['Solar Radiation']['si']
                Highcharts.chart('container', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'Wind Direction'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name: 'SI (°)',
                    marker: {
                    symbol: 'square'},        
                    data : dataWindDirection_si
                  },{
                    name : 'US (°)',
                    data : dataWindDirection_us
                  }]
                });

                Highcharts.chart('container-windSpeed', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'Wind Speed'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name : 'm/s',
                    marker : {
                      symbol : 'square'
                    },
                    data : dataWindSpeed_si
                  },{name : 'mph', data : dataWindSpeed_us}]
                });
                Highcharts.chart('container-gustSpeed', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'Gust Speed'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name : 'm/s',
                    data : dataGustSpeed_si
                  },{name:'mph',data:dataGustSpeed_us}]
                });
                Highcharts.chart('container-temp', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'Temperature'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name : '°C',
                    data : dataTemperature_si
                  },{name:'°F', data: dataTemperature_us}]
                });
                Highcharts.chart('container-rh', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'RH'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name : 'SI (%)',
                    data : dataRH_si
                  },{name : 'US (%)', data : dataRH_us}]
                });
                Highcharts.chart('container-dew', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'Dew Point'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name : '°C',
                    data : dataDewPoint_si
                  },{name : '°F', data : dataDewPoint_us}]
                });
                Highcharts.chart('container-solarRad', {
                  chart : {
                    type : 'line'
                  },
                  title: {
                    text : 'Solar Radiation'
                  },
                  subtitle: {
                      text: 'Source: Weather Station Udep'
                  },
                  yAxis : {
                    title : null
                  },
                  xAxis : {
                    categories : times
                  },
                  series : [{
                    name : 'W/m2',
                    data : dataSolarRad
                  }]
                });
              }

              
            }
            reqDataApi()
          
        </script>
    </body>
</html>