<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/graficas.css') }}">
    </head>
    <body>
        <header  class="header" id="myHeader">
            <img src="{{ url_for('static', path='/img/LogoUDEPazul.png') }}" alt="logo">
            <a href="" >Iniciar Sesión</a>
        </header>

        <div id="img_principal">
            <img src="{{ url_for('static', path='/img/fondo 1.jpg') }}" alt="edificio de gobierno">
        </div>

        <div class="rectangulo">
            <p><a href="graficas.html">GRÁFICAS</a></p>
            <p><a href="#">HISTORIAL</a></p>
            <p><a href="#">MAPA</a></p>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#temp">Temperatura</a></li>
                <li><a href="#hum">Humedad</a></li>
                <li><a href="#lluvia">Lluvia</a></li>
                <li><a href="#uv">UV</a></li>
                <li><a href="#viento">Viento</a></li>
            </ul>
        </div>

        <div class="tablas">
            <div id="temp">
                <h3>Temperatura en el distrito de Piura</h3>
                
                <figure class="highcharts-figure">
                    <div id="container">
                    </div>
                </figure>
            </div>
            <div id="hum">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="{{ url_for('static', path='/img/2.jpg') }}" alt="ej2">
            </div>
            <div id="lluvia">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="{{ url_for('static', path='/img/3.jpg') }}" alt="ej3">
            </div>
            <div id="uv">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="{{ url_for('static', path='/img/1.jpg') }}" alt="ej1">
            </div>
            <div id="viento">
                <h3>Temperatura en el distrito de Piura</h3>
                <img src="{{ url_for('static', path='/img/2.jpg') }}" alt="ej1">
            </div>      
        </div>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/series-label.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script>
            window.onscroll = function() {myFunction()};
            
            var header = document.getElementById("myHeader");
            var sticky = header.offsetTop;
            
            function myFunction() {
              if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
              } else {
                header.classList.remove("sticky");
              }
            }
            
    Highcharts.chart('container', {
    chart: {
      type: 'spline'
    },
    title: {
      text: 'Snow depth at Vikjafjellet, Norway'
    },
    subtitle: {
      text: 'Irregular time data in Highcharts JS'
    },
    xAxis: {
      type: 'datetime',
      dateTimeLabelFormats: { // don't display the year
        month: '%e. %b',
        year: '%b'
      },
      title: {
        text: 'Date'
      }
    },
    yAxis: {
      title: {
        text: 'Snow depth (m)'
      },
      min: 0
    },
    tooltip: {
      headerFormat: '<b>{series.name}</b><br>',
      pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
    },
  
    plotOptions: {
      series: {
        marker: {
          enabled: true,
          radius: 2.5
        }
      }
    },
  
    colors: ['#6CF', '#39F', '#06C', '#036', '#000'],
  
    // Define the data points. All series have a year of 1970/71 in order
    // to be compared on the same x axis. Note that in JavaScript, months start
    // at 0 for January, 1 for February etc.
    series: [
      {
        name: 'Winter 2019-2020',
        data: [
          [Date.UTC(1970, 9, 24), 0],
          [Date.UTC(1970, 9, 27), 0.12],
          [Date.UTC(1970, 9, 30), 0.09],
          [Date.UTC(1970, 10,  3), 0.13],
          [Date.UTC(1970, 10,  6), 0.12],
          [Date.UTC(1970, 10,  9), 0.13],
          [Date.UTC(1970, 10, 12), 0.13],
          [Date.UTC(1970, 10, 15), 0.16],
          [Date.UTC(1970, 10, 18), 0.19],
          [Date.UTC(1970, 10, 21), 0.25],
          [Date.UTC(1970, 10, 24), 0.26],
          [Date.UTC(1970, 10, 27), 0.24],
          [Date.UTC(1970, 10, 30), 0.25],
          [Date.UTC(1970, 11,  3), 0.26],
          [Date.UTC(1970, 11,  6), 0.36],
          [Date.UTC(1970, 11,  9), 0.43],
          [Date.UTC(1970, 11, 12), 0.32],
          [Date.UTC(1970, 11, 15), 0.48],
          [Date.UTC(1970, 11, 18), 0.5],
          [Date.UTC(1970, 11, 21), 0.44],
          [Date.UTC(1970, 11, 24), 0.43],
          [Date.UTC(1970, 11, 27), 0.45],
          [Date.UTC(1970, 11, 30), 0.4],
          [Date.UTC(1971, 0,  3), 0.39],
          [Date.UTC(1971, 0,  6), 0.56],
          [Date.UTC(1971, 0,  9), 0.57],
          [Date.UTC(1971, 0, 12), 0.68],
          [Date.UTC(1971, 0, 15), 0.93],
          [Date.UTC(1971, 0, 18), 1.11],
          [Date.UTC(1971, 0, 21), 1.01],
          [Date.UTC(1971, 0, 24), 0.99],
          [Date.UTC(1971, 0, 27), 1.17],
          [Date.UTC(1971, 0, 30), 1.24],
          [Date.UTC(1971, 1,  3), 1.41],
          [Date.UTC(1971, 1,  6), 1.47],
          [Date.UTC(1971, 1,  9), 1.4],
          [Date.UTC(1971, 1, 12), 1.92],
          [Date.UTC(1971, 1, 15), 2.03],
          [Date.UTC(1971, 1, 18), 2.46],
          [Date.UTC(1971, 1, 21), 2.53],
          [Date.UTC(1971, 1, 24), 2.73],
          [Date.UTC(1971, 1, 27), 2.67],
          [Date.UTC(1971, 2,  3), 2.65],
          [Date.UTC(1971, 2,  6), 2.62],
          [Date.UTC(1971, 2,  9), 2.79],
          [Date.UTC(1971, 2, 13), 2.93],
          [Date.UTC(1971, 2, 20), 3.09],
          [Date.UTC(1971, 2, 27), 2.76],
          [Date.UTC(1971, 2, 30), 2.73],
          [Date.UTC(1971, 3,  4), 2.9],
          [Date.UTC(1971, 3,  9), 2.77],
          [Date.UTC(1971, 3, 12), 2.78],
          [Date.UTC(1971, 3, 15), 2.76],
          [Date.UTC(1971, 3, 18), 2.76],
          [Date.UTC(1971, 3, 21), 2.7],
          [Date.UTC(1971, 3, 24), 2.61],
          [Date.UTC(1971, 3, 27), 2.52],
          [Date.UTC(1971, 3, 30), 2.53],
          [Date.UTC(1971, 4,  3), 2.55],
          [Date.UTC(1971, 4,  6), 2.52],
          [Date.UTC(1971, 4,  9), 2.44],
          [Date.UTC(1971, 4, 12), 2.43],
          [Date.UTC(1971, 4, 15), 2.43],
          [Date.UTC(1971, 4, 18), 2.48],
          [Date.UTC(1971, 4, 21), 2.41],
          [Date.UTC(1971, 4, 24), 2.16],
          [Date.UTC(1971, 4, 27), 2.01],
          [Date.UTC(1971, 4, 30), 1.88],
          [Date.UTC(1971, 5,  2), 1.62],
          [Date.UTC(1971, 5,  6), 1.43],
          [Date.UTC(1971, 5,  9), 1.3],
          [Date.UTC(1971, 5, 12), 1.11],
          [Date.UTC(1971, 5, 15), 0.84],
          [Date.UTC(1971, 5, 18), 0.54],
          [Date.UTC(1971, 5, 21), 0.19],
          [Date.UTC(1971, 5, 23), 0]
        ]
      }
    ]
  });
        </script>
    </body>
</html>